version: '3'
services:
  db:
    build:
        context: .
        dockerfile: ./db/Dockerfile
    image: mysql
    container_name: mysql_db
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo_db
      MYSQL_USER: kouki
      MYSQL_PASSWORD: password
      TZ: 'Asia/Tokyo'
    volumes:
      - ./mysql_data:/data/db
      - ./initdb.d:/docker-entrypoint-initdb.d # コンテナ作成時に実行されるsqlファイルを格納するパスをdocker-entrypoint-initdb.dにマウント
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  python3:
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: 'python3'
    working_dir: '/root/'
    tty: true
    volumes:
      - ./opt:/root/opt
    extra_hosts:
      - "host.docker.internal:host-gateway"